@import 'colors';
@import 'variables';
@import 'utils';

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #render, #render > div {
  height: 100%;
}

body {
  background-color: $base03;
  color: $base3;
  font-family: monospace;
  position: relative;
}

canvas {
  display: block;
}

#render > div {
  display: flex;
  flex-direction: column;
}

.flex-centered {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home--block {
  text-align: center;
}

.server-list--block {
  ul {
    list-style: none;
  }
  li {
    cursor: pointer;
  }
}
